@import url('https://fonts.googleapis.com/css2?family=Fira+Code');

:root {
    --text: rgb(239, 234, 246);
    --background: rgb(40, 34, 48);
    --primary: rgb(187, 164, 213);
    --secondary: rgb(130, 39, 80);
    --accent: rgb(247, 211, 34);
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
    line-height: 1.5;
}
body {
    display: flex;
    min-height: 100vh;
    color: var(--text);
    font-family: 'Fira Code', monospace;
    background-image: url(/images/fondo.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
small {
    font-size: 0.707rem;
}

.imagen {
    height: 250px;
    background-image: url(/images/ciudad.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}
.login {
    box-sizing: border-box;
    background-color: var(--background);
    width: clamp(300px, 80%, 600px);
    box-shadow: 1rem 1rem 0 0 var(--secondary);
}

.formulario {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.formulario > div {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
}

input {
    background-color: var(--primary);
    border: none;
    padding: 0.4rem 0.6rem;
    margin: 0.4rem 0;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    color: var(--background);
    transition: transform 0.1s ease-in-out;
}
input::placeholder {
    text-align: right;
    color: var(--secondary);
}
input:required {
    border: solid 2px green;
}
input:invalid {
    border: solid 2px red;
}
input:focus {
    background-color: var(--text);
    border: none;
    outline: 2px solid var(--secondary);
    outline-offset: 0.2rem;
    transform: scale(1.05);
}

button {
    color: var(--text);
    background-color: var(--secondary);
    width: min(300px, 100%);
    padding: 0.5rem 1.25rem;
    font-family: 'Fira Code', monospace;
    font-size: 1rem;
    border: none;
    align-self: center;
    margin: 0.5rem 0 2rem;
    transition: transform 0.1s ease-in-out;
}
button:hover {
    transform: scale(1.1);
    background-color: var(--accent);
    color: var(--background);
}
button:active {
    transform: scale(1);
}
